#dark-mode {
    --bg: #101020;
    --text: #fff;
    /*--transparent-bg: #203A6C88;*/
    --transparent-bg: #10102088;
    --bg-tint: #fff1;

    dialog {
        img {
            box-shadow: 0 0 10px #fffa;
        }
    }
}